@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Oswald:wght@300&family=Rampart+One&display=swap');

body {
    background-color: rgb(33, 53, 131);
  
    
}


 input[type=password] {
    -webkit-text-security: disc;
    width: 200px;
    height: 100px;
    padding: 15px;
    margin: 20px;
    /* display: flex; */
    font-size: 100px;
    border-radius: 20px;
    border: 5px solid #7833d8;
    background-color: rgb(210, 199, 250);

 }
 @keyframes happy {
    from {left:0px; top:0px;;}
    to {left:200px; top:200px;}
  }


 /* https://webdeasy.de/en/top-css-buttons-en/ */
 .glow-on-hover {
    width: 150px;
    height: 75px;
    color: #fff;
    background: rgb(165, 119, 224);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: rgb(57, 6, 105)
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(57, 19, 119);
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}


  .first-container {
      background-image: url('spaceship/first-container.jpg');
      background-size: cover;
      background-color: rgb(120, 32, 243);
      width: 100vh;
      height: 100vh;
      margin: auto;
      position: fixed;
      /* position: relative; */
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
	  /* top: 0;
	  left: 0; */
	  z-index: 1;
      /* visibility: visible; */
      /* display: flex;
      flex-direction: column; */
   
  }

 .second-container {
     /* background-color:rgb(30, 155, 204); */
     background-image: url('spaceship/empty.jpg');
    background-size: cover;
     border: 2px solid red;
     /* position: relative; */
     display: grid;
     grid-gap: 20px;
     grid-template-columns: 1fr 2fr;
     /* grid-template-rows: 1fr 1fr 1fr; */
     border-radius: 50px;
      /* top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px; */
      visibility: hidden;
 }
 /* .spaceship , .boxes, .wrong-letters, .p2-input {
     border: 2px solid black; */
     /* display: flex;
     flex-direction: row; */
     /* display: inline-block;
     margin: auto; */
 /* } */
 #secret-letter {
     /* visibility: hidden; */
   
    border: 1px solid salmon;
    display: inline-block;
    height: 150px;
    width: 150px;
    margin: 20px;
    font-family: 'Kaushan Script', cursive;
    font-size: 100px;
    text-align: center;
    border-radius: 50px;
    color: black;
    background-color: black;

   
 }
 .spaceship {
    /* background-image: url('spaceship/empty.jpg'); */
    /* background-size: cover; */
     background-color: #313eee;
     /* width: 100vh;
     height: 100vh; */
     /* position: absolute;
     top:0;
     right: 0; */
     border-radius: 50px;
    
 }
.img {
    height: 100%;
    width: 100%;
    border-radius: 50px;
}
 .boxes {
     background-color: aqua;
     /* width: 1500px;
     height: 600px; */
     position: relative;
     font-family: 'Kaushan Script', cursive;
    font-size: 70px;
    text-align: center;
    border-radius: 50px;
    /* padding: 5px; */


    
 }
 .wrong-letters {
     background-color:rgb(166, 129, 224);
     /* width: 1500px;
     height: 600px; */
     /* display: block;
     position: relative;
     left: 0px; */
     font-family: 'Kaushan Script', cursive;
    font-size: 100px;
    text-align: center;
    border-radius: 50px;
 }

 .p2-input-container {
    /* position: relative;
    display: block;
    top:0;
    left: 140px; */
    background-color: lightgreen;
    /* width: 1500px;
    height: 600px; */
    border-radius: 50px;
    /* border: 2px solid black; */
 }
 /* .p2-form {
    position: absolute;
    
 } */


 .p2-input-box {
     height: 200px;
     width: 500px;
     background-color: salmon;
     position: relative;
     top:150px;
     left: 250px;
     border-radius: 30px;
     font-family: 'Kaushan Script', cursive;
     font-size: 100px;
     text-align: center;
     

 }
 .p2-button {
    position: relative;
    height:150px;
    width:250px;
    top:250px;
    left:220px;
    border-radius: 30px;
    font-family: 'Kaushan Script', cursive;
     font-size: 40px;
 }
 .form-container {
     position: absolute;
     bottom: 150px;
     right:50px;
     height: 20vh;
     width:20vw;
     margin: 50px;
     text-align: center;
     font-family: 'Oswald', sans-serif;
     font-size: xx-large;
 }

 .third-container {
     height: 800px;
     width: 1000px;
     border: 2px solid black;
     border-radius: 50px;
     background-color: rgb(163, 199, 250);
     margin: auto;
     position: absolute;
     top: 0px;
     right: 0px;
     bottom: 0px;
     left: 0px;
     z-index: 1;
     visibility: hidden;
 }

